@model Aplication.Models.User
    
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="center">
        Hello @Model.Name
    </div>
</body>
</html>
